.hero-unit {
    padding-right: 30px !important;
    padding-left: 30px !important;
    margin-right: -80px !important;
    padding-top: 25px !important;
    padding-bottom: 12px !important;
    margin-bottom: 0px !important;
}